@media only screen and (max-width: 767px) {
  #tick {
    display: none;
  }
  #home-carousel-controls{
    display: none;
  }
}

.navbar-brand span {
  font-size: 1.2em;
}


.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: overline;
}

.fa-bag-shopping{
  color:#777;
  padding-right: 1em;
}

.text-muted span a {
  padding: 0 0.6vw;
  color: #000;
}

.btn-login {
  background-color: inherit;
  color: #6d6875;
  border-color: #6d6875;
}

.btn-login:hover {
  background-color: #b5838d;
  border-color: #b5838d;
}

.fa-bag-shopping:hover {
  color: rgba(0, 0, 0, 0.745) !important;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  color: #555;
}

.nav-link.active {
  color: #FFB4A2 !important;
  font-weight: bold;
}

footer {
  background-color: #f2f2f2;
}

footer .social-link {
  color: #e5989b;
  border-color: #b5838d;
}

footer .social-link:hover,
.social-link:focus {
  background: #6d6875;
  color: #ffb4a2;
}

footer .list-unstyled a {
  color: #6d6875;
  text-decoration: none;
}

.featuredprod img {
  margin-bottom: 20px;
}

.featuredprod h3 {
  font-size: 1em;
  font-weight: 900 !important;
}

.featuredprod h3 a {
  color: #b5838d;
}

.owl-2-style .owl-nav {
  display: none;
}

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px;
}

.owl-2-style .owl-dots .owl-dot {
  display: inline-block;
}

.owl-2-style .owl-dots .owl-dot span {
  display: inline-block;
  width: 15px;
  height: 3px;
  border-radius: 0px;
  background: #cccccc;
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  margin: 3px;
}

.owl-2-style .owl-dots .owl-dot.active span {
  background: #007bff;
}

.owl-2-style .owl-dots .owl-dot:active,
.owl-2-style .owl-dots .owl-dot:focus {
  outline: none;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: white;
  text-decoration: overline;
}

.newsletter {
  background-color: #f8edeb;
  padding: 55px 74px;
}


.newsletter input{
  width: 400px;
  display: inline-block;
  border-radius: 0%;
  border: 2px solid #E5989B;
}

.newsletter .btn-primary {
  background-color: #E5989B !important;
  border: whitesmoke;
  color: #fff;
  outline: none !important;
  border-radius: 0%;
}

.newsletter h2{
  color: #B5838D;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
}

.category .card {
  height: 130px;
  overflow: hidden;
  border: none;
  border-radius: 15px
}

.imagename {
  font-size: 14px;
}